:root {
  /* black color shades */
  --ruby-alpha: 38 38 38;
  --ruby-beta: 125 125 125;
  --ruby-gamma: 189 189 189;
  --ruby-delta: 246 246 251;
  --ruby-epsilon: 235 235 247;
  --ruby-zeta: 236 236 245;
  --ruby-mu: 196 196 196;
  --ruby-pi: 163 155 155;
  --ruby-upsilon: 216 216 216;
  --ruby-sigma: 250 250 250;

  /* blue color shades */
  --pearl-alpha: 0 8 77;
  --pearl-beta: 17 61 205;
  --pearl-gamma: 174 159 225;
  --pearl-epsilon: 219 227 255;
  --pearl-zeta: 220 222 255;
  --pearl-eta: 104 130 218;
  --pearl-iota: 242 244 253;
  --pearl-sigma: 0 96 134;
  --pearl-upsilon: 52 81 144;
  --pearl-psi: 238 240 249;
  --pearl-omega: 237 242 251;
  --pearl-beta1: 99 129 225;
  --pearl-delta1: 13 54 182;
  --pearl-epsilon1: 65 100 215;

  /* yellow color shades */
  --opal-alpha: 203 155 39;
  --opal-beta: 228 199 100;
  --opal-gamma: 255 220 104;
  --opal-delta: 255 238 180;
  --opal-epsilon: 252 250 238;
  --opal-zeta: 232 211 160;
  --opal-eta: 247 181 0;
  --opal-theta: 254 247 225;
  --opal-iota: 245 222 144;
  --opal-nu: 177 120 0;
  --opal-rho: 227 199 100;
  --opal-sigma: 242 230 201;
  --opal-phi: 176 132 26;
  --opal-chi: 255 253 237;
  --opal-psi: 213 174 75;
  --opal-alpha1: 211 154 0;
  --opal-beta1: 246 235 209;
  --opal-gamma1: 250 248 240;
  --opal-delta1: 218 134 56;
  --opal-epsilon1: 249 236 225;

  /* green color shades */
  --amber-alpha: 31 144 113;
  --amber-beta: 90 192 170;
  --amber-gamma: 80 202 174;
  --amber-delta: 168 229 215;
  --amber-epsilon: 174 217 220;
  --amber-theta: 229 247 243;
  --amber-iota: 40 146 72;
  --amber-lambda: 113 188 193;
  --amber-omicron: 143 211 195;
  --amber-pi: 23 128 99;
  --amber-sigma: 6 199 85;
  --amber-tau: 3 91 67;
  --amber-upsilon: 162 220 207;
  --amber-phi: 123 205 187;

  /* purple color shades */
  --jade-alpha: 83 51 138;
  --jade-beta: 146 115 188;
  --jade-gamma: 214 207 240;
  --jade-delta: 51 56 110;
  --jade-epsilon: 198 202 223;
  --jade-eta: 241 236 250;
  --jade-theta: 186 168 220;
  --jade-iota: 98 55 255;
  --jade-kappa: 191 181 229;
  --jade-lambda: 112 75 176;
  --jade-kappa: 211 117 149;
  --jade-lambda: 102 25 43;
  --jade-omicron: 142 152 187;

  /* blue color shades */
  --lapis-alpha: 50 138 146;
  --lapis-beta: 113 188 193;
  --lapis-gamma: 169 185 237;
  --lapis-delta: 150 171 236;
  --lapis-epsilon: 236 236 245;
  --lapis-zeta: 210 233 227;
  --lapis-theta: 195 206 241;
  --lapis-kappa: 107 135 238;
  --lapis-mu: 213 223 222;
  --lapis-nu: 0 43 255;

  /* red color shades */
  --garnet-alpha: 168 108 102;
  --garnet-beta: 207 166 161;
  --garnet-gamma: 255 246 218;
  --garnet-delta: 224 224 224;
  --garnet-epsilon: 221 58 58;
  --garnet-iota: 139 1 21;
  --garnet-kappa: 244 227 225;
  --garnet-lambda: 155 0 22;
  --garnet-mu: 171 1 25;
  --garnet-pi: 255 0 0;
  --garnet-sigma: 182 47 75;
  --garnet-phi: 242 233 233;
  --garnet-omega: 244 67 54;

  /* orange color shades */
  --jasper-gamma: 226 127 73;
  --jasper-delta: 245 186 132;
  --jasper-epsilon: 252 220 199;

  /*pink color */
  --diamond-alpha: 215 75 129;
  --diamond-zeta: 249 243 246;
  --diamond-delta: 255 0 102;
  --diamond-iota: 171 126 120;
  --diamond-kappa: 253 236 233;
  --diamond-lambda: 229 178 173;
  --diamond-mu: 255 235 243;
  --diamond-nu: 235 196 192;
}
